.card{
    padding-top: 10px;
}
.cart-count{
    position: absolute;
    text-align: center;
    height: 18px;
    width: 18px;
    font-size: 0.7rem;
    border-radius: 50%;
    background-color: brown;
    color: #fff;
    right: 5px;
    top: 5px;
}


@media only screen and (max-width:767px) {
    .cart-count{
        left: 10px !important;
    }
}